                    <ul class="nav flex-column" id="sidebar">
                        <li class="nav-item"><a href="/" class="nav-link"><h6>Главная страница</h6></a>
                        </li>
                        <li class="nav-item"><h6>Новости</h6></li>
                        <li class="nav-item"><a href="/news.html" class="nav-link"><h6>Обьявление от 29.05.19</h6></a>
                        </li>
                        <li class="nav-item"><h6>Книги</h6></li>
                        <li class="nav-item"><a href="/book.html" class="nav-link"><h6>Книга Пасквилей с сокращениями</h6></a>
                        </li>
                        <li class="nav-item"><a href="https://dedkf.pythonanywhere.com" class="nav-link"><h6>Книга Пасквилей - получить полную версию</h6></a>
                        </li>
                        <li class="nav-item"><a href="/donkey.html" class="nav-link"><h6>...ослание к ослам</h6></a>
                        </li>
			<li class="nav-item"><a href="/detyam.html" class="nav-link"><h6>Детям</h6></a>
                        </li>
						<li class="nav-item"><h6>Книга-почтой</h6></li>
						<li class="nav-item"><a href="/print.html" class="nav-link"><h6>Книга (на бумаге!) - почтой</h6></a>
                        </li>
						<li class="nav-item"><h6>Новые пасквили</h6></li>
						<li class="nav-item"><a href="https://dedkf.pythonanywhere.com/new-paskv" class="nav-link"><h6>Сносил лыжи? Получи велосипед! (Новые Пасквили)</h6></a>
                        </li>
						<li class="nav-item"><h6>Автор рекомендует</h6></li>
						<li class="nav-item"><a href="/links.html" class="nav-link"><h6>Ссылки</h6></a>
						<li class="nav-item"><h6>Коммутатор</h6></li>
						<li class="nav-item"><a href="/commutator.html" class="nav-link"><h6>Громко сказать, что вы думаете про автора и его писанину!</h6></a>
                    </ul>
